name: Documentation

on:
  push:
    branches:
      - main

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Setup MiniConda
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: 3.8
        channels: conda-forge
    - name: Install Conda Deps
      shell: bash -l {0}
      run: |
        conda install hdf5==1.12.1
        conda install h5py==3.4.0
        conda install readdy==v2.0.9
    - name: Install Dependencies
      shell: bash -l {0}
      run: |
        python -m pip install --upgrade pip
        pip install .[all]
    - name: Generate Docs
      shell: bash -l {0}
      run: |
        make gen-docs
        touch docs/_build/html/.nojekyll
    - name: Publish Docs
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        BASE_BRANCH: main # The branch the action should deploy from.
        BRANCH: gh-pages # The branch the action should deploy to.
        FOLDER: docs/_build/html/ # The folder the action should deploy.
